<Configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%level] %d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %l - %msg%n" />
		</Console>

		<JDBC name="JDBC" tableName="system_log">
			<ThresholdFilter level="INFO" />
			<ConnectionFactory
				class="com.jimi.adct_server.comm.config.ADCTServerConfig"
				method="getLog4j2JDBCAppenderConnection" />
			<Column name="time" pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}" />
			<Column name="level" pattern="%level" />
			<Column name="thread" pattern="%thread" />
			<Column name="position" pattern="%l" />
			<Column name="message" pattern="%msg" />
		</JDBC>

		<SMTP name="SMTP" subject="Emergency: An Error Log Email !!!"
			from="darhao@qq.com" to="darhao@qq.com" smtpHost="smtp.qq.com"
			smtpPort="465" smtpUsername="darhao@qq.com"
			smtpPassword="gkermdqejmczbddi"
			smtpDebug="false"
			smtpProtocol="smtps"
			>
			<ThresholdFilter level="ERROR" />
		</SMTP>
	</Appenders>

	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="JDBC" />
			<AppenderRef ref="SMTP"/>
		</Root>
	</Loggers>

</Configuration>